[submodule "themes/port-hugo"]
	path = themes/port-hugo
	url = https://github.com/tylersayshi/port-hugo.git
[submodule "themes/loficode"]
	path = themes/loficode
	url = https://github.com/meimakes/loficode-hugo-theme.git
